<h4>Comments</h4>
<ol>
  <% comments.each do |comment| %>
    <li><%= comment.comment %></li>
  <% end %>
</ol>

<%= render :partial => 'comments/form', :locals => { 
      :project => project, :test => test 
    } %>